beautifulsoup4==4.4.0
docx-mailmerge==0.4.0
lxml==4.6.3
matplotlib==3.0.0
pycurl==7.43.0.2
pyparsing==2.2.2
requests==2.22.0
selenium==3.14.1
urllib3==1.24.2
webdavclient==1.0.8
PyYAML==5.4
schedule==0.5.0
watchdog==0.9.0